@page
@model SportZone.Pages.Products.CatalogModel
@using static SportZone.Pages.Products.Categories;
<div class="container p-3">
	<div class="row pt-4">

		<form method="get">
			<label for="category">Category:</label>
			<select id="category" name="category" class="form-control input-bg-color">
				<option selected>All</option>
				@foreach (var obj in Enum.GetValues(typeof(Categories)))
				{
					<option value="@obj.ToString()">@obj.ToString()</option>
				}
			</select>

			<label for="minPrice">Min Price:</label>
			<input type="number" id="minPrice" name="minPrice">

			<label for="maxPrice">Max Price:</label>
			<input type="number" id="maxPrice" name="maxPrice">

			<button type="submit">Filter</button>
		</form>
		
		<div class="col-12">
			<h2 class="text-primary">Product List</h2>
		</div>
		@foreach (var product in Model.Products)
		{
			<div class="card" style="width: 18rem;">
				<img src="@product.ImageUrl" class="card-img-top" alt="Cant Load Image">
				<div class="card-body">
					<h5 class="card-title">@product.Name</h5>
					<p class="card-text">@product.Description</p>
					<a href="#" class="btn btn-primary">Open product</a>
				</div>
			</div>
		}
	</div>
</div>